#grid-container {
    display: grid;
    grid-template-rows: 15vh 85vh;
}

.flex-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    font-style: oblique;
    color: whitesmoke;
    padding: 0.5vh 2%;
   
}
.prod-box {
    margin: 2vh 10vw;
    border: 1px solid beige;
    padding: 10px 10px;
    background: rgba(248, 250, 232,10);

}

   


#card {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    
}

    